.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 10);
  overflow: hidden;
  width: 300px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.profileHeader {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.profileImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profileDetails {
  margin: 10px 0;
  color: #333;
}

.profileStats {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
  margin: 0;
  border-top: 1px solid #e0e0e0;
}

.profileStats li {
  text-align: center;
  padding: 10px 0;
}

.profileStats span {
  display: block;
  color: #777;
}

.profileStats span:last-child {
  color: #333;
  font-weight: bold;
}
