
.transactionHistory {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.transactionHistory th, .transactionHistory td {
  padding: 8px;
  border: 1px solid #ababab;
  text-align: left;
}

.transactionHistory th {
  background-color: #888787;
}



.transactionHistory tbody tr:nth-child(even) {
  background-color: #d3d2d2;}